
@{

}

@model ecommerce.Models.Produto


<div class="col-sm-4">
    @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <fieldset>
            <legend>Alterar Produto</legend>
            @Html.HiddenFor(model => Model.ProdutoId)

            @Html.LabelFor(Model => Model.Nome)
            @Html.ValidationMessageFor(Model => Model.Nome, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Nome,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Nome do Produto"

                    })<br />
            @Html.LabelFor(Model => Model.Descricao)
            @Html.ValidationMessageFor(Model => Model.Descricao, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Descricao,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Descrição do Produto"

                    })<br />
            @Html.LabelFor(Model => Model.Preco)
            @Html.ValidationMessageFor(Model => Model.Preco, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Preco,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Preço em R$"

                    })<br />
            @Html.LabelFor(Model => Model.Categoria)
            @Html.ValidationMessageFor(Model => Model.Categoria, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Categoria,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Categ. do Produto"

                    })<br />

        </fieldset>
            <input type="submit" value="Alterar" class="btn btn-success" />
    }
</div>
