@{


}


@model ecommerce.Models.Produto


<div class="col-sm-4">
    @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <fieldset>
            <legend>Alterar Produto</legend>
            @*Passando o id para o controller*@
            @Html.HiddenFor(model => model.ProdutoId)

            @Html.LabelFor(Model => Model.Nome)
            @Html.ValidationMessageFor(Model => Model.Nome, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Nome,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Nome do Produto"

                    })<br />
            @Html.LabelFor(Model => Model.Descricao)
            @Html.ValidationMessageFor(Model => Model.Descricao, null, new { @class = "text-danger", enctype = "multipart/form-data" })<br />
            @Html.TextBoxFor(Model => Model.Descricao,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Descrição do Produto"

                    })<br />
            @Html.LabelFor(Model => Model.Preco)
            @Html.ValidationMessageFor(Model => Model.Preco, null, new { @class = "text-danger" })<br />
            @Html.TextBoxFor(Model => Model.Preco,
                    new
                    {
                        @class = "form-control",
                        @placeholder = "Preço em R$"

                    })<br />
            <div class="form-group">
                @Html.LabelFor(Model => Model.Categoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-15">
                    @Html.DropDownList("CategoriaId", null, "-- Selecione --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Imagem, "Foto do Produto")
                <div class="col-md-15">
                    <input type="file" name="fupImagem" />
                </div>
            </div>


        </fieldset>
        <input type="submit" value="Alterar" class="btn btn-success" />
    }
</div>

