@using ecommerce.Models
@model List<Produto>
@{
    DateTime data = ViewBag.Data;

}


<div>
    <p>
        <h2>Gerenciamento de Produtos</h2>
    </p>
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto </a>*@

    @* Link em MVC | Razor *@



    <div>
        <table class="table table-hover">
            <tr class="table-secondary">
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Foto do Produto</th>
                <th>Excluir</th>
                <th>Alterar</th>
            </tr>

            @foreach (Produto produtoCadastrado in Model)
            {
                <tr>
                    <td>@produtoCadastrado.Nome</td>
                    <td>@produtoCadastrado.Descricao</td>
                    <td>R$@produtoCadastrado.Preco</td>
                    <td>@produtoCadastrado.Categoria.Nome</td>

                    <td><img src="~/Images/@produtoCadastrado.Imagem" alt="Imagem do Produto" style="width: 100px; height:100px" /></td>

                    <td>@Html.ActionLink("Remover", "RemoverProduto", "Produto", new { id = produtoCadastrado.ProdutoId }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Alterar", "AlterarProduto", "Produto", new { id = produtoCadastrado.ProdutoId }, new { @class = "btn btn-primary" })</td>
                </tr>


            }

        </table>

    </div>
</div>