@using ecommerce.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";

}

<h2>CarrinhoCompras</h2>


<table class="table table-hover table-striped">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>SubTotal</th>
    </tr>

    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Images/@item.Produto.Imagem" alt="Imagem do produto" style="width: 100px; height: 100px" /></td>
            <td>@item.Produto.Nome</td>
            <td>
                <button type="submit" value="-1" class="btn btn-danger" style="margin: 10px" href="@Url.Action("AdicionarAoCarrinho", "Home", new { id = item.Produto.ProdutoId })">-</button>
                @item.Quantidade
                <button type="submit" value="1" class="btn btn-success" style="margin: 10px" href="@Url.Action("AdicionarAoCarrinho", "Home", new { id = item. })">+</button></td>
            <td>@item.Valor.ToString("C2")</td>
                @{
                    decimal subtotal = item.Quantidade * item.Valor;

                 }
            <td>@subtotal.ToString("C2")</td>
    </tr>
                }

</table>
