@using ecommerce.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";
    decimal subtotal = 0;
    ViewBag.Total = 0;
    
}

<h2>CarrinhoCompras</h2>


<table class="table table-hover table-striped">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>SubTotal</th>
    </tr>

    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Images/@item.Produto.Imagem" alt="Imagem do produto" style="width: 100px; height: 100px" /></td>
            <td>@item.Produto.Nome</td>
            <td>
                @Html.ActionLink("-", "RemoverQtde", "Home", new { id = item.Produto.ProdutoId }, new { @class = "btn btn-secondary" })
                @item.Quantidade
                @Html.ActionLink("+", "AddQtde", "Home", new { id = item.Produto.ProdutoId }, new { @class = "btn btn-primary" })
            </td>
            <td>@item.Valor.ToString("C2")</td>

            @{
                subtotal = item.Quantidade * item.Valor;
                Html.Action("ValorCar","Home",subtotal);
            }

            <td>@subtotal.ToString("C2")</td>
        </tr>
                }

            
            
       
           
</table>
 

         