@model IEnumerable<ecommerce.Models.ItemVenda>

@{
    ViewBag.Title = "CarrinhoCompras";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>CarrinhoCompras</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="submit" value="-" class="btn btn-success" /> @Html.DisplayFor(modelItem => item.Quantidade) <input type="submit" value="+" class="btn btn-success" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Delete", "RemoverDoCarrinho", new { id=item.ItemVendaId })
        </td>
    </tr>
}

</table>
