<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href='@Url.Action("Index", "Home")' style="margin-bottom: 10px; margin-top: 5px; margin-right: 20px"><img src="~/Images/LOGO4.png" /></a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-left: 10px;">
                    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Gerenciar Categoria", "Index", "Categoria", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Gerenciar Produtos", "Index", "Produto", null, new { @class = "nav-link" })
                </li>
            </ul>

            @if (!Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Login","Login","Usuario",null ,new { @class = "text-warning"})
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Logout", "Logout", "Usuario", null, new { @class = "text-warning" })
                </div>
            }
            <div class="nav-item">
                <span class="badge badge-warning" style="width: 20px; text-align: center; padding: 5px; height: 20px; margin-right: -5px">
                    @if (TempData["QtdeTotal"] != null)
                    {
                        var qtde = TempData["QtdeTotal"];
                        if (!qtde.Equals(0))
                        {
                            <p style="color: aliceblue">@qtde.ToString()</p>
                        }

                    }
                </span>
                <a href='@Url.Action("CarrinhoCompras", "Home")'>
                    <img src="~/Images/carrinho2.png" />

                </a>
            </div>
        </div>
    </nav>

    <div id="content" class="container" style="margin-top: 30px">
        @RenderBody()
    </div>

    <hr />
    <footer style="text-align: center; margin-bottom: 30px">
        <p>&copy; @DateTime.Now.Year - Desenvolvido por Estefani Fujimoto e Raphael de Lima</p>
    </footer>

</body>
</html>
